@model ProductsOnlineShop.ViewModels.ProductsViewModel
@{
    ViewData["Title"] = "Home Page";
}

    <div class="col-12">
        <table class="table table-image">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Delivery On</th>
                    <th scope="col">Picture</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var product in Model.products)
                    {
                        <tr>
                            <th scope="row">@product.ProductID</th>
                            <td>@product.ProductName</td>
                            <td>@product.UnitPrice</td>
                            @if (@product.UnitsInStock == 0)
                            {
                                <td style="color:red">@product.UnitsInStock</td>
                            }
                            else
                            {
                                <td style="color:green">@product.UnitsInStock</td>
                            }
                            <td>@product.DeliveryOn.ToShortDateString()</td>
                            <td class="w-25">
                                <img src=@product.ImageUrl class="img-fluid img-thumbnail" alt="Sheep">
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
        </div>
